<p id="notice"><%= notice %></p>

<h1>Listing Cals</h1>

<table>
  <thead>
    <tr>
      <th>Cals consumed</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cals.each do |cal| %>
      <tr>
        <td><%= cal.cals_consumed %></td>
        <td><%= cal.date %></td>
        <td><%= link_to 'Show', cal %></td>
        <td><%= link_to 'Edit', edit_cal_path(cal) %></td>
        <td><%= link_to 'Destroy', cal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cal', new_cal_path %>
